reachy-mini[mujoco]
fastapi
uvicorn
opencv-python
mediapipe
numpy
python-multipart
websockets
fer
tensorflow
transformers
torch
accelerate
scipy
SpeechRecognition
gTTS
pyaudio
google-genai
python-dotenv
pillow
